@mixin tabletStyle {
  #intro-section {
    height: 65vh;

    & div.wrapper {
      display: flex;
      justify-content: center;
      align-items: center;

      & #intro-logo {
        max-width: 400px;
      }
    }
  }

  #about-section {
    padding: 70px 0px;

    .body-copy {
      font-size: 20px;
    }

    & div.wrapper {
      & .twoCol {
        margin: 30px;
        & h3 {
          font-size: 40px;
        }
      }
    }
  }

  #featured-projects-section {
    min-height: 50vh;
    padding: 200px 0 0 0;

    & #featured-projects-div {
      & .project-thumb {
        min-width: 350px;
        min-height: 250px;
        flex: 1;
      }
    }
  }

  #capabilities-section {
    padding: 50px 0 30px 0;

    & div.section-overlap-div {
      top: 100px;

      & #technologies-div {
        padding: 30px;
        min-width: 100%;
        min-height: 60px;

        & #tools-div {
          display: flex;
          justify-content: space-around;

          & .tools-icon {
            max-height: 50px;
            padding: 15px;
          }
        }
      }
    }
  }

  #contact-section {
    min-height: 30vh;
    padding: 100px 0 30px 0;
    & #form-div {
      & #contact-form {
        width: 80%;
      }
    }
  }
}
